body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.home{
    background-attachment: fixed;
    background-image: url("https://cdn.pixabay.com/photo/2015/07/28/22/01/office-865091_960_720.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
    /*-----Home Pic Animation-----*/

    
    .hi{
        margin-bottom: 1px;
        font-size: 90px;
        animation: fadeIn ease-out 5s;
        position: relative;
        color: gold;
        -webkit-animation: fadeIn ease-out 5s;
    }

    @keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
        }
    @-moz-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
        }
        
    @-webkit-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
        }
    
    @-o-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
        }
    
    @-ms-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
        }    
    
      .hii{
        animation: fadeInn ease-in 6s;
        -webkit-animation: fadeInn ease-in 6s;
        position: relative;
        font-size: 50px;
      }

    @keyframes fadeInn {
        0% {opacity:0;}
        100% {opacity:1;}
        }
    @-moz-keyframes fadeInn {
        0% {opacity:0;}
        100% {opacity:1;}
        }
        
    @-webkit-keyframes fadeInn {
        0% {opacity:0;}
        100% {opacity:1;}
        }
    
    @-o-keyframes fadeInn {
        0% {opacity:0;}
        100% {opacity:1;}
        }
    
    @-ms-keyframes fadeInn {
        0% {opacity:0;}
        100% {opacity:1;}
        }    

     

      /*------Top Part------*/     
.top{
    height: 600px; 
    width: 100%;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: 'Staatliches', cursive;
}
.greeting-box{
    display: flex;
    flex-direction: column;
    margin-top: 27%;
}

    /*Middle Part*/
.middle{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
}    
.intro{
    width: 98%;
    height: 620px;
    display: flex;
    flex-direction: row;
    background-color: rgb(41, 39, 39);
    margin-bottom: 1%;
    align-self: center;
    border-radius: 2mm;
}
.about{
    width: 70%;
    height: 96%;
    display: flex;
    flex-direction: column;
    padding-top: 2%;
}
.intro-me-head{
    align-self: center;
    color: yellow;
}
.sr-c{
    color: yellow;
    font-size: 36px;
}
.contacts{
    display: flex;
    width: 40%;
    margin-top: 16%;
    align-self: center;
    display: none;
}
.services{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
}
.serv1{
    width: 50%;
    height: 100%;
}
.serv2{
    padding-top: 5%;
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.intro-text{
    font-family: 'Poppins', sans-serif;
    border-top: white 1px solid;
    border-bottom: white 1px solid;
    padding-top: 1%;
    padding-bottom: 1%;
}
.skills{
    width: 30%;
    height: 92%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
}
.skill-head{
    color: yellow;
    text-align: center;
}
.skill-main{
    width: 70%;
    align-self: center;
    margin-top: 10%;
}
.icons{
    display: flex;
    margin-top: 10%;
    justify-content: center;
}
.bi{
    color: rgb(255, 235, 235);
    transition: 0.4s;
}
.bi:hover{
    color: rgb(251, 255, 0);
    transform: scale(1.2);
}
.my-pic{
    background-image: url("/src/IMG_20210211_121533_798.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    width: 150px;
    margin-bottom: 10%;
    
    align-self: center;
    border-radius: 50mm;
}
.web-dev{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}